inference/

__pycache__/
*.pyc
*.so
build/
*.egg-info/

*.pth
*.pt
*.ckpt
*.onnx
*.engine
*.trt
*.safetensors

*.tar.gz
*.zip
*.raw
*.dng
*.npy
*.npz
*.mp4
*.avi
*.mov

.vscode/
.idea/
.ipynb_checkpoints/
